
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}

div .bold {
  font-family: "ALK Rex Bold";
  color: #171717;
  width: 346px;
  height: 68px;
  font-size: 18px;
  position: fixed;
  background-color: #ffffff;
  border-radius: 12px;
  left: 625px;
  top: 403px;
}
div .light {
  font-family: "ALK Life";
  color: #171717;
  width: 339px;
  height: 65px;
  font-size: 18px;
  position: fixed;
  background-color: #ffffff;
  border-radius: 12px;
  left: 1034px;
  top: 441px;
}
div .second-image {
  width: 463px;
  height: 420px;
  border-radius: 15px;
  position: fixed;
  left: 567px;
  top: 104px;
}
div .third {
  width: 384px;
  height: 349px;
  border-radius: 15px;
  position: fixed;
  left: 1006px;
  top: 167px;
}
span {
  font-family: "ALK Rex Bold";
  color: #171717;
  font-size: 18px;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    height: 308px;
    background-color: #0A22F4;
}

a{
    text-decoration: none;
    color: #fff;
}

.dot{
    border-radius: 50%;
    background-color: #000;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-top: 84px;
    margin-left: 20px;
}

#first-dot{
    background-color: #fff;
}

.main-link{
    width: 184px;
    height: 38px;
    color: #fff;
    font-size: 32px;
    margin-top: 70px;
    margin-left: 240px;
    font-family: "ALK Rex Bold", sans-serif;
}

.last-dot{
    margin-right: 241px;
}

.first-box{
    width: 463px;
    height: 420px;
    position: relative;
    margin-left: 240px;
    margin-top: -80px;
}

.first-image{
    border-radius: 15px;
}

.first-text-box{
    width: 443px;
    height: 125px;
    border-radius: 12px;
    background-color: #fff;
    position: absolute;
    top: 285px;
    right: 10px;
    left: 10px;
    bottom: 10px;
}

.first-text{
    padding: 30px 74px 30px 30px;
    font-family: "ALK Life", sans-serif;
}

